/*font-family: "Raleway",sans-serif;
font-family: "Roboto",sans-serif;*/

body{
    font-family: "Roboto",sans-serif;
color:#434455;
background-color: #fff;
}

ul,ol{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }



/* heder*/ 
.page-header{
    border-bottom: 1px solid #e7e9fc;
}
.conteiner-header{
    width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
display:flex;
align-items: center;
}
.header-nav{
    display:flex;
align-items: center;
}

.logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo{
    padding: 24px 0;
    margin: 0 76px 0 0;
}

.header-logo .logo-part{
    color: #2e2f42;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link:hover{
    color: #404bbf;
}

.nav-link:focus{
    color: #404bbf;
}
.contacts{
    font-style: normal;
    margin-left: auto;
}
.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
}

.contacts-link:hover{
    color: #404bbf;
}

.contacts-link:focus{
    color: #404bbf;
}


/* button*/




.section-btn{
    max-width: 100%;
    background-color: #2e2f42;
    height: 600px;
    padding: 188px 0;
}
.conteiner-btn{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 600px;
    
}
.div-conteiner-btn{
    display: flex;
    max-width: 496px;
    height: 120px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column
    
}




.your-business{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #ffffff;
text-align: center;
margin-bottom:48px;

}
.your-business-btn{
    max-width: 496px;
}




.hero-button{
    
    background-color: #4d5ae5;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;


}
.btn{
    cursor: pointer;
    background-color:#4d5ae5;
    border: none;
    height: 56px;
    min-width: 169px;
    display: block; 
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);


}
.hero-button:hover{
    background-color: #404BBF;
}

.hero-button:focus{
    background-color:#404BBF;
}


/* section-text*/


.benefits{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }

    .conteiner-benefits{ 
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        
       
       
    }
    .benefits-list{ 
        gap: 24px;
       display: flex;
       padding: 100px 0;
   
    }
        .benefits-item{
            max-width: 264px;
            max-height: 104px;
            display: flex;
            display: block;
            
           
            
            
    }

.benefits-subtitle{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 8px;

}

.benefits-subtitle-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;




}


/*foto*/


.team{
    width: 1158px;
    margin: 0 auto;
    
    display: flex;
    display: block;
    background-color: #f4f4fd;
}


.subtitle-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    }
    
    .conteiner-div-team{ 
       
        width: 1158px;
        height: 732px;
        padding: 0 15px;
    }
    .div-ourteam{
        display: flex;
       
    }
 
    .team-list{
        
        display: flex;
        width: 1158px;
       
       
    }
    .div-list{
        display: block;
        display: flex;
        
    }
   

    .images-team{
        padding: 0 24px;
        display: block;
        display: flex;
    
    }
.team-item{

    background-color: #FFFFFF
}

.subtitle-images{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 32px 65px 8px;
}
.text-images{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding: 8px 68px 32px;;
}


/*portrfolio*/
.portfolio{
    width: 1158px;
    height: 1000px;
     margin: 0 auto;
     padding: 0 15px;
    display: flex;
    display: block;

}
.div-portfolio{
     
    display: block;
    
}

.subtitle-portfolio-h{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
text-align: center;

}
.portfolio-h{
    margin: 0 auto;
    display: flex;

}

.portfolio-list{
    display: block;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}


.div-img{
width: 360px;
height: 420px;
display: block;}


.porfolio-images{

background-color: #fff;
display: block;
}

.porfolio-subtitle{
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.porfolio-q{
    padding: 32px 226px 8px 16px;
}
.text-q{
    padding: 8px 314px 32px 16px;
}
.porfolio-w{
    padding: 32px 172px 8px 16px;
}
.text-w{
    padding: 8px 269px 32px 16px;
}
.porfolio-e{
    padding: 32px 201px 8px 16px;
}
.text-e{
    padding: 8px 314px 32px 16px;
}
.porfolio-r{padding: 32px 231px 8px 16px;
}

.text-r{padding: 8px 269px 32px 16px;
}

.porfolio-t{padding: 32px 163px 8px 16px;
}

.text-t{
    padding: 8px 293px 32px 16px;
}

.porfolio-y{padding: 32px 202px 8px 16px;
}

.text-y{padding: 8px 269px 32px 16px;
}

.porfolio-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/*footer*/


.footer{
    margin: 0 auto;
    width: 1158px;
height: 312px;
padding: 0 15px;
    background-color: #2e2f42;
}
.conteiner-footer{
    padding: 120px 15px 0px 15px;
    display: block;
    width: 264px;
    height: 112px;
}
.footer-logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo-part{
    color: #f4f4fd;
}
.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.div-text-footer{
padding: 16px 0;

}



