/*font-family: "Raleway",sans-serif;
font-family: "Roboto",sans-serif;*/

body{
    font-family: "Roboto",sans-serif;
color:#434455;
background-color: #fff;
}

ul,ol{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }



/* heder*/ 
.page-header{
    border-bottom: 1px solid #e7e9fc;
}
.conteiner-header{
    width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
display:flex;
align-items: center;
}
.header-nav{
    display:flex;
align-items: center;
}

.logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo{
    padding: 24px 0;
    margin: 0 76px 0 0;
}

.header-logo .logo-part{
    color: #2e2f42;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-link:hover{
    color: #404bbf;
}

.nav-link:focus{
    color: #404bbf;
}
.contacts{
    font-style: normal;
    margin-left: auto;
}
.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
  
}

.contacts-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
   
}

.contacts-link:hover{
    color: #404bbf;
}

.contacts-link:focus{
    color: #404bbf;
}


/* button*/



.section-btn{
    width: 1158px;
    background-color: #2e2f42;
    height: 600px;
}




.your-business{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #ffffff;
text-align: center;

}



.hero-button{
    background-color: #4d5ae5;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;

}
.btn{
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);


}
.hero-button:hover{
    background-color: #404BBF;
}

.hero-button:focus{
    background-color:#404BBF;
}


/* section-text*/


.benefits{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
.benefits-p{
        display: flex;
        
        width: calc((100% - 72px) / 3);
    }
    
.benefits-item{
    padding:104px 264px;



}
.benefits-subtitle{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 8px;
}

.benefits-subtitle-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}


/*foto*/


.team{
   
    text-align: center;
    margin: 0 auto;
    display: flex;
    background-color: #f4f4fd;
}
.div-team{
    width: 100%;
}
.subtitle-team{
padding: 120px 639px 72px; 
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
}

.team-list{
    width: 1158px;
    height: 732px;
}
.div-list{
    display: flex;

}

.team-item{
    background-color: #FFFFFF
}

.div-team{
    display: block; 
    max-width: 100%; 
    height: auto;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
}

.subtitle-images{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 32px 65px 8px;
}
.text-images{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding: 8px 68px 32px;;
}


/*portrfolio*/
.portfolio
{
    text-align: center;
    margin: 0 auto;
    display: flex;

}
.div-portfolio{
    width: 100%;
    display: block;
    
}

.subtitle-portfolio-h{
padding: 120px 611px 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
text-align: center;
}
.div-portfolio-item{
display: block;
display: flex;

}

.portfolio-list{
    display: flex;
    flex: wrap;
    gap: 24px;
}
.porfolio-two{

}
}
.div-img{
    display: block; 
    max-width: 100%; 
    height: auto;
    box-sizing: border-box;
}
}

.porfolio-images{

background-color: #fffff;
display: block;
}

.porfolio-subtitle{
    padding: px px px px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.porfolio-q{
    padding: 32px 226px 8px 16px;
}
.text-q{
    padding: 8px 314px 32px 16px;
}
.porfolio-w{
    padding: 32px 172px 8px 16px;
}
.text-w{
    padding: 8px 269px 32px 16px;
}
.porfolio-e{
    padding: 32px 201px 8px 16px;
}
.text-e{
    padding: 8px 314px 32px 16px;
}
.porfolio-r{padding: 32px 231px 8px 16px;
}

.text-r{padding: 8px 269px 32px 16px;
}

.porfolio-t{padding: 32px 163px 8px 16px;
}

.text-t{
    padding: 8px 293px 32px 16px;
}

.porfolio-y{padding: 32px 202px 8px 16px;
}

.text-y{padding: 8px 269px 32px 16px;
}

.porfolio-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/*footer*/


.footer{
    background-color: #2e2f42;
}
.footer-logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo 
.footer-logo-part{
    color: #f4f4fd;
}
.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}